<% provide(:p, "welcome")%>

<div class="container text-center">
	<div class="jumbotron">
		<h1>View Welcome</h1>
		<p>Find me in app/views/static_pages/welcome.html.erb</p>
		<button class="btn btn-default">Challenge #1</button>
		<button class="btn btn-default">Challenge #2</button>
	</div>

			<div class="row">
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="..." alt="...">
			      <div class="caption">
			        <h3>Thumbnail label</h3>
			        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
			        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      </div>
			    </div>
			  </div>

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="..." alt="...">
						<div class="caption">
							<h3>Thumbnail label</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
							<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="..." alt="...">
						<div class="caption">
							<h3>Thumbnail label</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
							<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
						</div>
					</div>
				</div>

			</div>



</div>
